<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<!--配置 DispatcherServlet  -->
	<!-- The front controller of this Spring Web application, responsible for handling all application requests -->
	<welcome-file-list>
	    <welcome-file>index.html</welcome-file>
	    <welcome-file>index.htm</welcome-file>
	    <welcome-file>index.jsp</welcome-file>
	    <welcome-file>default.html</welcome-file>
	    <welcome-file>default.htm</welcome-file>
	    <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
	<servlet>
		<servlet-name>springDispatcherServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<!--配置DispatcherServlet的一个初始化参数：配置springmvc的配置文件的路径和名称 -->
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:springmvc.xml</param-value>
		</init-param>

		<load-on-startup>1</load-on-startup>

	</servlet>

	<!-- Map all requests to the DispatcherServlet for handling -->
	<servlet-mapping>
		<servlet-name>springDispatcherServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<filter>
      <filter-name>cors</filter-name>
      <filter-class>cn.springmvc.HeadersCORSFilter</filter-class><!--你过滤器的包 -->
    </filter>
    <filter-mapping>
      <filter-name>cors</filter-name>
      <url-pattern>/app/*</url-pattern><!-- 你开放的接口前缀  -->
    </filter-mapping>
</web-app>